<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css"
          rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css"
          rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css"
          rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
    <!--时间控件-->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/daterangepicker-2.0.5/daterangepicker.css"
          rel="stylesheet">
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/daterangepicker-2.0.5/moment.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/daterangepicker-2.0.5/daterangepicker.js"></script>
    <!--弹层-->
    <script src="https://cdn.bootcss.com/artDialog/7.0.0/dialog-plus.js"></script>
</head>

<body class="bg-white" data-bg-color="bg-white">
<div class="king-page-box">
    <div class="king-layout1-header">
        <nav role="navigation" class="navbar navbar-default king-horizontal-nav3     f14">
            <div class="nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bk-example-navbar-collapse-3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:;">
                        <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo.png" alt="" class="logo">
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-responsive-collapse" id="bk-example-navbar-collapse-3">
                    <ul class="nav navbar-nav ">
                        <li><a href="/">奖项申报<span></span></a></li>
                        <li><a href="/award/">系统管理<span></span></a></li>
                        <li class="bk-cur"><a href="/form/">个人中心<span></span></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="javascript:;">
                                <img src="http://q1.qlogo.cn/g?b=qq&amp;nk=1181849919&amp;s=100&amp;t=1556272002"
                                     onerror="javascript:this.src='/static/images/getheadimg.jpg';" width="30"
                                     alt="Avatar" style="border-radius:50%;margin-right:10px;">
                                <span>管理者 ( admin )</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="broadside" style="margin: 20px">
        <!-- sidebar start -->
        <div class="king-layout1-sidebar" style="width:200px;">
            <nav style="overflow:hidden;">
                <div class="king-vertical-nav9 f14">
                    <div class="navbar-collapse navbar-hov">
                        <ul class="nav navbar-nav side-nav" style="padding-bottom: 0">
                            <li class="active">
                                <a href="javascript:void(0);"> <i class="fa fa-wrench "></i>
                                    <span>我的申报</span> <i class="fa fa-fw "></i> </a>
                                <ul id="demo" class="collapse"></ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);"> <i class="fa fa-wrench "></i>
                                    <span>我的审核</span> <i class="fa fa-fw "></i> </a>
                                <ul id="demo" class="collapse"></ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- sidebar end -->
        <!-- content start -->
        <div class="king-content-wrap">
            <div class="king-layout1-content" style="margin-left: 220px;">
                <div class="king-page-topbar ">
                    <ul class="breadcrumb king-breadcrumb pl0 bg-transparent">
                        <li><a href="javascript:void(0);">个人中心</a></li>
                        <li><a href="javascript:void(0);">我的申报</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="king-content-wrap" >
            <div class="col-md-10 col-md-offset-2" style="margin-top: 15px">
                <form class="form-inline" style="font-size: 10px;">
                    <div class="form-group mr10">
                        <label for="inputAwardName">申报奖项：</label>
                        <input type="text" class="form-control" id="form_name">
                    </div>
                    &nbsp;&nbsp;
                    <div class="plugin3_demo"  style="display:inline-block;">
                        <label>审核状态: </label>
                        <select class="select2_box" id="status" style="width:100px;height: 34px" >
                            <option value="-1">不限</option>
                            <option value="0">审核中</option>
                            <option value="1">未通过</option>
                            <option value="2">通过</option>
                            <option value="3">未获奖</option>
                            <option value="4">已获奖</option>
                        </select>
                    </div>
                    <label for="date_range">申报时间：</label>
                    <input type="text" class="form-control daterangepicker_demo" id="date_range" placeholder="选择日期...">
                    &nbsp;&nbsp;
                    <button type="button" class="king-btn-demo king-btn king-round king-info" onclick="search()">查询</button>
                </form>
            </div>
            <div class="row" style="margin-left: 15px;">
                <div class="col-md-offset-2">
                    <table class="table mb0 pr15 ranger-box2  ">
                        <thead>
                        <tr>
                            <th style="width: 15%;">所属单位</th>
                            <th style="width: 15%;">申报奖项</th>
                            <th style="width: 10%;">奖项状态</th>
                            <th style="width: 15%;">申报人/团队</th>
                            <th style="width: 10%;">申报状态</th>
                            <th style="width: 20%;">申报时间</th>
                            <th style="width: 15%;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for form in results %}
                            <tr>
                                <td>{{ form.award.organization.name }}</td>
                                <td>{{ form.award.name }}</td>
                                {% if form.award.status %}
                                    <td>生效中</td>
                                {% else %}
                                    <td>已过期</td>
                                {% endif %}
                                <td>{{ form.creator }}</td>
                                <td>{{ form.get_status_display }}</td>
                                <td>{{ form.created_time }}</td>
                                <td>
                                    {% if form.status == 0 or form.status == 1 or form.status == 2%}
                                        <a href="/form/get_form/{{ form.form_id }}/" id="editBtn">编辑</a>
                                    {% elif form.status == 1 %}
                                        <a href="#" id="applyBtn">重新申请</a>
                                    {% else %}
                                        <a href="#">申报</a>
                                    {% endif %}
                                    <a href="/form/get_form/{{ form.award.id }}/?id={{ form.form_id }}" >查看</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="body-footer">
                    <div class="col-md-6 col-md-offset-5">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li>
                                    <a href="./?page={{ previous_page }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% for num in page_num %}
                                    <li><a href="./?page={{ num }}">{{ num }}</a></li>
                                {% endfor %}
                                <li>
                                    <a href="./?page={{ next_page }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
        <!-- content end -->
    </div>
</div>
<script type="text/javascript">
    // 选择日期范围
    $('#date_range').daterangepicker({
        locale : {
            "format" : 'YYYY/MM/DD'
        }
    });
    function search() {
        var name = $("#form_name").val();
        var status = $("#status").val();
        var time = $("#date_range").val();
        var result = {
            "name": name,
            "status": status,
            "time": time,
        };
        console.log(result);
        $.ajax({
            type: 'POST',
            cache: false,
            async: false,
            contentType: false,
            processData: false,
            {#data: JSON.stringify(result),#}
            headers: {"X-CSRFToken": $.cookie('csrftoken')},// 从Cookie取csrf_token，并设置ajax请求头
        });
        var a = document.createElement('a');
        a.setAttribute('href', "search_form/?name=" + name + "&time=" + time + "&status=" + status);
        a.setAttribute('id', 'startTelMedicine');
        if (document.getElementById('startTelMedicine')) {
            document.body.removeChild(document.getElementById('startTelMedicine'));
        }
        document.body.appendChild(a);
        a.click();
    }
</script>
</body>
</html>