<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-layout1-header">
            <nav role="navigation" class="navbar navbar-default king-horizontal-nav3     f14">
                <div class="nav-container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bk-example-navbar-collapse-3">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="javascript:;">
                            <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo.png" alt="" class="logo"> </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-responsive-collapse" id="bk-example-navbar-collapse-3">
                        <ul class="nav navbar-nav ">
                            <!--<li :class="{'bk-cur':item.active}"  v-for="item in renderData.items">-->
                            <li class="bk-cur"> <a href="javascript:void(0);">奖项申报<span></span></a> </li>
                            <li> <a href="javascript:void(0);">系统管理<span></span></a> </li>
                            <li> <a href="javascript:void(0);">个人中心<span></span></a> </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="javascript:;">
                                    <img src="http://q1.qlogo.cn/g?b=qq&amp;nk=1181849919&amp;s=100&amp;t=1556272002" onerror="javascript:this.src='/static/images/getheadimg.jpg';" width="30" alt="Avatar" style="border-radius:50%;margin-right:10px;">
                                    <span>管理者 ( admin )</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="broadside" style="margin: 20px">
            <!-- sidebar start -->
            <div class="king-layout1-sidebar" style="width:200px;">
                <nav style="overflow:hidden;">
                    <div class="king-vertical-nav9    f14">
                        <div class="navbar-collapse navbar-hov">
                            <ul class="nav navbar-nav side-nav">
                                <li class="active">
                                    <a href="javascript:void(0);"> <i class="fa fa-dashboard ">                            </i>
                                        <span>组织管理</span> <i class="fa fa-fw "></i> </a>
                                    <ul id="demo" class="collapse"> </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"> <i class="fa fa-wrench ">                            </i>
                                        <span>奖项信息</span> <i class="fa fa-fw "></i> </a>
                                    <ul id="demo" class="collapse"> </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- sidebar end -->
            <!-- content start -->
            <div class="king-content-wrap">
                <div class="king-layout1-content" style="margin-left: 230px;">
                    <!-- <div class="king-page-topbar pl20 pr20 {{ marginStyle }}"> -->
                    <div class="king-page-topbar ">
                        <ul class="breadcrumb king-breadcrumb pl0 bg-transparent">
                            <li><a href="javascript:void(0);">系统管理</a></li>
                            <li><a href="javascript:void(0);">单位管理</a></li>
                        </ul>
                    </div>
                    <!-- 面板 编辑 开始 -->
                    <!-- 面板 编辑 结束 -->
                    <form class="form-horizontal">
                        <div class="form-group clearfix" style="margin-left: 485px">
                            <button type="button" class="king-btn mr10  king-info" id="newBtn">新增</button>
                        </div>
                    </form>
                    <div class="container-fluid mb0 ">
                        <div class="row">
                            <div class="col-md-7">
                                <table class="table mb0 pr15 ranger-box2  ">
                                    <thead>
                                        <tr>
                                            <th style="width: 15%;">所属组织</th>
                                            <th style="width: 15%;">负责人</th>
                                            <th style="width: 15%;">参评人员</th>
                                            <th style="width: 15%;">更新人</th>
                                            <th style="width: 15%;">更新时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    {% for organization in data.result %}
                                        <tr>
                                            <td>{{ organization.name }}</td>
                                            <td>{{ organization.principal }}</td>
                                            <td>{{ organization.users }}</td>
                                            <td>{{ organization.updater }}</td>
                                            <td>{{ organization.updated_time }}</td>
                                            <td>
                                                <a href="update_organization/{{ organization.id }}"><button class="btn btn-info">编辑</button></a>
                                                <a href="del_organization/{{ organization.id }}"><button class="btn btn-danger">删除</button></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tbody>

                                    </tbody>
                                </table>
                                <!-- 设置面板End -->
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        {% if page.has_previous %}
                                            <li>
                                                <a href="{% url 'show_organizations/' page.previous_page_number %}" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>

                                        {% else %}
                                            <li class="disabled">
                                                <a href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% for p in data.count %}
                                            {% ifequal p currentpage %}
                                                <li class="active"><a href="{% url 'show_organizations/' p %}">{{ p }}</a></li>
                                            {% else %}
                                                <li><a href="{% url 'show_organizations/' p %}">{{ p }}</a></li>
                                            {% endifequal %}
                                        {% endfor %}

                                        {% if page.has_next %}
                                            <li>
                                                <a href="{% url 'show_organizations/' page.next_page_number %}" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a></li>
                                        {% else %}
                                            <li class="disabled">
                                                <a href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a></li>
                                        {% endif %}
                                    </ul>
                                </nav>

                            </div>
                            <div class="col-md-5" style="display: none; background-color: #f2f2f2;" id="newForm" >
                                <form class="form-horizontal">
                                    <div class="form-group clearfix ">
                                        <label class="col-sm-3 control-label bk-lh30 pt0">所属组织：</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control bk-valign-top" id="name" placeholder="提示信息"> </div>
                                    </div>
                                </form>
                                <form class="form-horizontal">
                                    <div class="form-group clearfix ">
                                        <label class="col-sm-3 control-label bk-lh30 pt0">负责人员：</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control bk-valign-top" id="principal" placeholder="提示信息"> </div>
                                    </div>
                                </form>
                                <form class="form-horizontal">
                                    <div class="form-group has-feedback clearfix ">
                                        <label class="control-label col-sm-3 pt0" for="introduction">参评人员：</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" rows="8" id="users" placeholder="提示信息"></textarea>
                                        </div>
                                    </div>
                                </form>
                                <form class="form-horizontal">
                                    <div class="save-button" style="margin-left: 250px" id="saveBtn">
                                        <button type="button" class="king-btn mr10  king-info">保存</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content end -->
        </div>
    </div>
    <script>
        $("#newBtn").click(function () {
            $("#newForm").toggle();
        })
        function save_organization(path) {
            return new Promise(function (resolve, reject) {
                $.ajax({
                    url: path,
                    type: "get",
                    success:function (data) {
                        console.log(data)
                        resolve(data)
                    },
                    error:function (error) {
                        reject(error)
                    }
                })
            })
        };
        $("#saveBtn").click(function () {
            var url = "new_organization/"
            var name = $("#name").val();
            var principal = $("#principal").val();
            var users = $("#users").val();
            var result = {
                name:name,
                principal:principal,
                users:users
            }
            $.post(url, result, function (res) {
                if (res.result) {
                    alert("添加成功!")
                    window.location.reload()
                }else{
                    alert(res.message)
                }
            }, 'json')
        })
    </script>

</body>

</html>