<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>未登录蓝鲸平台(401页)</title>
<link href="${REMOTE_STATIC_URL}bk/base.css?v=${STATIC_VERSION}" rel="stylesheet" type="text/css"/>
<link href="${REMOTE_STATIC_URL}bk/bk.css?v=${STATIC_VERSION}" rel="stylesheet" type="text/css"/>
</head>

<body style="font-family:Microsoft Yahei;">
	<div class="errors-401-wrap box">
        <img src="${REMOTE_STATIC_URL}bk/style_custom/images/expre_401.jpg" width="207" height="143" />           
        <h1>您还没有登录蓝鲸！</h1>
        <a href="###" style="cursor:pointer;" onclick="window.top.location.reload()">立即登录</a> 
    </div>
</body>

</html>
