<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css"
          rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css"
          rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css"
          rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
    <!--时间控件-->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/daterangepicker-2.0.5/daterangepicker.css"
          rel="stylesheet">
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/daterangepicker-2.0.5/moment.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/daterangepicker-2.0.5/daterangepicker.js"></script>
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/datetimepicker/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/datetimepicker/js/locales/bootstrap-datetimepicker.zh-TW.js"
            charset="UTF-8"></script>
    <!--富文本-->
    <script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
    <!--状态开关-->
    <link href="https://cdn.bootcss.com/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css"
          rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-switch/3.3.4/js/bootstrap-switch.js"></script>
    <!--下拉框-->
    <link href="https://cdn.bootcss.com/select2/4.0.6-rc.1/css/select2.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/select2/4.0.6-rc.1/js/select2.full.js"></script>
    <!--弹层-->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/artDialog-6.0.4/css/ui-dialog.css"
          rel="stylesheet">
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/artDialog-6.0.4/dist/dialog-min.js"></script>
    <style>
        td {
            white-space: nowrap;
        }
    </style>
</head>

<body class="bg-white" data-bg-color="bg-white">
<div class="king-page-box">
    <div class="king-layout1-header">
        <nav role="navigation" class="navbar navbar-default king-horizontal-nav3     f14">
            <div class="nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bk-example-navbar-collapse-3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:;">
                        <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo.png" alt="" class="logo">
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-responsive-collapse" id="bk-example-navbar-collapse-3">
                    <ul class="nav navbar-nav ">
                        <!--<li :class="{'bk-cur':item.active}"  v-for="item in renderData.items">-->
                        <li><a href="/">奖项申报<span></span></a></li>
                        <li class="bk-cur"><a href="/award/">系统管理<span></span></a></li>
                        <li><a href="/form/">个人中心<span></span></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="javascript:void(0);">
                                <img onerror="javascript:this.src='/static/images/getheadimg.jpg';" width="30"
                                     alt="Avatar" style="border-radius:50%;margin-right:10px;" id="user_icon">
                                <span id="user_qq"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="broadside" style="margin: 20px">
        <!-- sidebar start -->
        <div class="king-layout1-sidebar" style="width:200px;">
            <nav style="overflow:hidden;">
                <div class="king-vertical-nav9    f14">
                    <div class="navbar-collapse navbar-hov">
                        <ul class="nav navbar-nav side-nav" style="padding-bottom: 0">
                            <li>
                                <a href="/form/"> <i class="fa fa-dashboard "> </i>
                                    <span>我的申报</span> <i class="fa fa-fw "></i> </a>
                            </li>
                            <li class="active">
                                <a href="/review/"> <i class="fa fa-wrench "> </i>
                                    <span>我的审核</span> <i class="fa fa-fw "></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- sidebar end -->
        <!-- content start -->
        <div hidden="hidden" id="get_id">{{ form.form_id }}</div>
        <div class="king-content-wrap">
            <div class="king-layout1-content" style="">
                <div class="row" style="margin-top: 50px;">
                    <div class="panel king-panel1 mb0 col-md-4" style="height: 600px">
                        <div>
                            <label class="control-label col-sm-3 pt0" for="name">奖项名称</label>
                            <div id="name">{{ form.award.name }}</div>
                        </div>
                        <br/><br/>
                        <div>
                            <label class="control-label col-sm-3 pt0" for="requirement">参评要求</label>
                            <div id="requirement">{% autoescape off %} {{ form.award.requirement }} {% endautoescape%}
                            </div>
                        </div>
                        <br/><br/>
                        <div>
                            <label class="control-label col-sm-3 pt0" for="principal">审核人</label>
                            <div id="principal">{{ form.award.organization.principal }}</div>
                        </div>
                        <br/><br/>
                        <div>
                            <label class="control-label col-sm-3 pt0">状态</label>
                            {% if form.award.status %}
                            <div>生效</div>
                            {% else %}
                            <div>过期</div>
                            {% endif %}

                        </div>
                        <br/><br/>
                        <div>
                            <label class="control-label col-sm-3 pt0" for="level">奖项级别</label>
                            <div id="level">{{ form.award.level.name }}</div>
                        </div>
                        <br/><br/>
                        <div>
                            <label class="control-label col-sm-3 pt0" for="organization">所属组织</label>
                            <div id="organization">{{ form.award.organization.name }}</div>
                        </div>
                        <br/><br/>
                        <div>
                            <label class="control-label col-sm-3 pt0" for="submit_start_time">开始日期</label>
                            <div id="submit_start_time">{{ form.award.submit_start_time }}</div>
                        </div>
                        <br/><br/>
                        <div>
                            <label class="control-label col-sm-3 pt0" for="submit_end_time">结束日期</label>
                            <div id="submit_end_time">{{ form.award.submit_end_time }}</div>
                        </div>
                        <br/><br/>
                    </div>
                    <div class="panel king-panel1 mb0 col-md-6" style="height: 600px">
                        <div>
                            <label class="control-label col-sm-3 pt0">申报人/团队</label>
                            <p>{{ form.creator }}</p>
                        </div>
                        <br/><br/>
                        <div>
                            <label class="control-label col-sm-3 pt0">事迹介绍</label>
                            <p>{{ form.info }}</p>
                        </div>
                        <br/><br/>
                        <div>
                            <label class="control-label col-sm-3 pt0">附件</label>
                            <p>
                                <button type="button" id="download">下载</button>
                            </p>
                        </div>
                        <br/><br/>
                        <div>
                            <label class="control-label col-sm-3 pt0">评奖</label>
                            <p style="width: 60%">
                                <input type="radio" name="status" value=4 checked><span>获奖</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="status" value=3><span>未获奖</span>
                            </p>
                        </div>
                        <br/><br/>
                        <div>
                            <label class="control-label col-sm-3 pt0">评语</label>
                            <p>
                                <textarea style="width: 60%" rows="5" id="comment"></textarea>
                            </p>
                        </div>
                        <br/><br/>
                        <div class="form-group clearfix">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="button" class="king-btn mr10  king-success" id="submit">提交</button>
                                <button type="button" class="king-btn king-default">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- content end -->
    </div>
</div>
<script type="text/javascript">
    window.onload = function () {
        sessionStorage.clear();
        var qq = get_qq();
        document.getElementById('user_qq').innerHTML = qq;
        document.getElementById('user_icon').setAttribute("src", "http://q1.qlogo.cn/g?b=qq&nk=" + qq + "&s=100&t=1558273954")
    };

    function get_qq() {
        var uin = document.cookie.split("uin=")[1].split(";")[0];
        while (true) {
            if (uin[0] == "o") {
                uin = uin.slice(1)
            }
            else {
                break
            }
        }
        return uin
    }

    $('#submit').click(function () {
        form_id = document.getElementById('get_id').innerHTML;
        comment = $('#comment').val();
        status = $('input[name=status]:checked').val();
        data = {
            'form_id': form_id,
            'comment': comment,
            'status': status
        };
        $.ajax({
            url: "/review/api/update_review/",
            type: "POST",
            headers: {"X-CSRFToken": $.cookie('csrftoken')},  // 从Cookie取csrf_token，并设置ajax请求头
            data: JSON.stringify(data),
            success: function (data) {
                var d = dialog({
                    width: 260,
                    title: '提示',
                    quickClose: true,
                    content: '<div class="king-notice-box king-notice-success">' +
                    '<p class="king-notice-text">'
                    + data['data']['message']
                    + '</p></div>',
                    ok: function () {
                    },
                    cancelValue: '取消',
                    cancel: function () {
                    },
                    onshow: function () {
                    }
                });
                d.show();
                window.location.href = '/review/'
            }
        });
    });

</script>
</body>

</html>