<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css"
          rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css"
          rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css"
          rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
    <!--时间控件-->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/daterangepicker-2.0.5/daterangepicker.css"
          rel="stylesheet">
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/daterangepicker-2.0.5/moment.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/daterangepicker-2.0.5/daterangepicker.js"></script>
    <!--弹层-->
    <script src="https://cdn.bootcss.com/artDialog/7.0.0/dialog-plus.js"></script>
    <style>
        td {
            white-space: nowrap;
        }
    </style>
</head>

<body class="bg-white" data-bg-color="bg-white">
<div class="king-page-box">
    <div class="king-layout1-header">
        <nav role="navigation" class="navbar navbar-default king-horizontal-nav3     f14">
            <div class="nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bk-example-navbar-collapse-3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:;">
                        <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo.png" alt="" class="logo">
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-responsive-collapse" id="bk-example-navbar-collapse-3">
                    <ul class="nav navbar-nav ">
                        <!--<li :class="{'bk-cur':item.active}"  v-for="item in renderData.items">-->
                        <li><a href="javascript:void(0);">奖项申报<span></span></a></li>
                        <li class="bk-cur"><a href="javascript:void(0);">系统管理<span></span></a></li>
                        <li><a href="javascript:void(0);">个人中心<span></span></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="javascript:;">
                                <img src="http://q1.qlogo.cn/g?b=qq&amp;nk=1181849919&amp;s=100&amp;t=1556272002"
                                     onerror="javascript:this.src='/static/images/getheadimg.jpg';" width="30"
                                     alt="Avatar" style="border-radius:50%;margin-right:10px;">
                                <span>管理者 ( admin )</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="broadside" style="margin: 20px">
        <!-- sidebar start -->
        <div class="king-layout1-sidebar" style="width:200px;">
            <nav style="overflow:hidden;">
                <div class="king-vertical-nav9    f14">
                    <div class="navbar-collapse navbar-hov">
                        <ul class="nav navbar-nav side-nav">
                            <li>
                                <a href="javascript:void(0);"> <i class="fa fa-dashboard "> </i>
                                    <span>组织管理</span> <i class="fa fa-fw "></i> </a>
                            </li>
                            <li class="active">
                                <a href="javascript:void(0);"> <i class="fa fa-wrench "> </i>
                                    <span>奖项信息</span> <i class="fa fa-fw "></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- sidebar end -->
        <!-- content start -->
        <div class="king-content-wrap">
            <div class="king-layout1-content" style="margin-left: 230px;">
                <!-- <div class="king-page-topbar pl20 pr20 {{ marginStyle }}"> -->
                <div class="king-page-topbar ">
                    <ul class="breadcrumb king-breadcrumb pl0 bg-transparent">
                        <li><a href="javascript:void(0);">系统管理</a></li>
                        <li><a href="javascript:void(0);">奖项信息</a></li>
                    </ul>
                </div>
                <!-- 面板 编辑 开始 -->
                <!-- 面板 编辑 结束 -->
                <div class="row" style="height: 100%; margin: 10px 5px 0px;">
                    <form class="form-inline" style="font-size: 10px">
                        <div class="form-group mr10">
                            <label for="inputAwardName">申报奖项：</label>
                            <input type="text" class="form-control" id="inputAwardName">
                        </div>
                        &nbsp;&nbsp;
                        <div class="form-group mr5">
                            <label for="inputOrganization">所属组织：</label>
                            <input type="text" class="form-control" id="inputOrganization">
                        </div>
                        &nbsp;&nbsp;
                        <div class="plugin3_demo" id="plugin3_demo1" style="display:inline-block;">
                            <label>状态: </label>
                            <select class="select2_box" style="width:100px;height: 34px">
                                <option value="">不限</option>
                                <option value="">生效中</option>
                                <option value="">已过期</option>
                            </select>
                        </div>
                        <label for="daterangepicker_demo2">申报时间：</label>
                        <input type="text" class="form-control daterangepicker_demo" id="daterangepicker_demo2"
                               placeholder="选择日期..." style="width: 175px">
                        &nbsp;&nbsp;
                        <br/><br/>
                        <button type="button" class="king-btn-demo king-btn king-round king-info">查询</button>
                        &nbsp;&nbsp;
                        <button type="button" class="king-btn-demo king-btn king-round king-info">批量克隆</button>
                        &nbsp;&nbsp;
                        <button type="button" class="king-btn-demo king-btn king-round king-info" id="create">新增
                        </button>
                    </form>
                </div>
                <div class="container-fluid mb0 " style="padding: 0px">
                    <div class="row">
                        <div class="col-md-7" style="width:100%!important;">
                            <table class="table mb0 pr15 ranger-box2  ">
                                <thead>
                                <tr>
                                    <th>所属组织</th>
                                    <th>奖项级别</th>
                                    <th>申报奖项</th>
                                    <th>状态</th>
                                    <th>开始时间</th>
                                    <th>申报时间</th>
                                    <th>申报人数</th>
                                    <th>获奖人数</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for award in awards %}
                                <tr>
                                    <td>{{award.organization}}</td>
                                    <td>{{award.level.name}}</td>
                                    <td>{{award.name}}</td>
                                    {% if award.status %}
                                    <td>生效</td>
                                    {% else %}
                                    <td>过期</td>
                                    {% endif %}
                                    <td>{{award.submit_start_time}}</td>
                                    <td>{{award.submit_end_time}}</td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <a href="/award/api/get_award/?award_id={{award.id}}">查看</a>
                                        <a href="">克隆</a>
                                        <a href="/award/api/edit_award/?award_id={{award.id}}">编辑</a>
                                        <a href="/award/api/delete_award/?award_id={{award.id}}" class="delete">删除</a>
                                    </td>
                                </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                            {% ifnotequal cur_page 1 %}
                            <a id="page_up" href="?page={{cur_page|add:'-1'}}">
                                上一页
                            </a>
                            {% endifnotequal %}
                            第{{ cur_page }}/{{ allPage }}页
                            {% ifnotequal cur_page allPage %}
                            <a id="page_down" href="?page={{cur_page|add:'1'}}">
                                下一页
                            </a>
                            {% endifnotequal %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- content end -->
    </div>
</div>
<script type="text/javascript">
    $('#daterangepicker_demo2').daterangepicker({
        locale: {
            "format": 'YYYY/MM/DD'
        }
    });
    $('#create').click(function () {
        window.location.href = 'create/'
    });
    $('.delete').click(function () {
        var d = dialog({
            width: 260,
            title: '提醒',
            content: '是否确认删除此条奖项',
            okValue: "确认",
            ok: function () {

            },
            cancelValue: '取消',
            cancel: function () {

            },
        });
        d.show();
    })


</script>
</body>

</html>