<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>功能验证失败</title>
	<link href="${REMOTE_STATIC_URL}bk/base.css?v=${STATIC_VERSION}" rel="stylesheet" type="text/css"/>
	<link href="${REMOTE_STATIC_URL}bk/bk.css?v=${STATIC_VERSION}" rel="stylesheet" type="text/css"/>
	<style>
		.ml15{margin-left:15px;}
	</style>
	</head>

	<body style="font-family:Microsoft Yahei;">
    	<div class="errors-login-failure-wrap box">
            <img src="${REMOTE_STATIC_URL}bk/style_custom/images/expre_login_failure.jpg" width="183" height="112" />
            <div class="errors-login-fialure-con clearfix">
	            <h1>该功能尚未对外开放！</h1>
	            <p><strong>可能原因：</strong></p>
	            <p>1、该管理员关闭了该功能,如有需要请联系管理员；</p>
	            <p>2、系统异常，请联系管理员检查func_code。</p>
            </div>
        </div>
	</body>
</html>

